*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #333;
    --light-color: #f9f9f9;
    --hover-color: #0056b3;
    --bg-dark: #222;
    --bg-light: #e3f2fd;
    --text-light: #fff;
    --text-dark: #333;
    --font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--light-color);
}

header {
    background-color: var(--secondary-color);
    padding: 1.25rem 3.125rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0.3125rem 0.4375rem rgba(0, 0, 0, 0.3);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    img {
        width: auto;
        max-width: 8.75rem;
        height: auto;
    }

    nav {
        ul {
            list-style: none;
            display: flex;
            gap: 1.25rem;
            margin: 0;
            padding: 0;

            li {
                a {
                    color: var(--text-light);
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: bold;
                    padding: 0.5rem 0.9375rem;
                    border-radius: 0.3125rem;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: #555;
                        color: var(--text-light);
                    }
                }
            }
        }
    }
}

main {
    padding: 2rem;

    .container {
        max-width: 80rem;
        margin: 0 auto;
    }

    .job {
        background-color: var(--text-light);
        box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin-bottom: 2rem;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-0.625rem);
        }

        h3 {
            font-size: 2rem;
            margin: 0;
            color: var(--secondary-color);
        }

        p {
            margin: 0.3125rem 0;
            font-size: 1.2rem;
        }

        button {
            padding: 1rem 2rem;
            background-color: var(--primary-color);
            color: var(--text-light);
            border: none;
            cursor: pointer;
            border-radius: 0.3125rem;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--hover-color);
            }
        }
    }
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-light);
    padding: 1.25rem;
    text-align: center;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;

        li {
            margin: 0 0.9375rem;

            a {
                color: var(--text-light);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
